body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 3.8rem;
  text-shadow: 0 8px 8px rgba(196, 196, 126, 0.6);
}
.avatar {
  margin: 20px;
  border-radius: 50%;
}


.card {
  width: fit-content;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 20px;
  background: #fff;
}